@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h1>About me</h1>

    Hej!
<p>Jag heter Ekram Ahmedin och är 26 år. Jag bor med min familj i Trollhättan. Jag  är mycket intresserad av att börja studera på Lexicon eftersom jag är mycket intresserad av programming .NET och vill utveckla mina kunskaper och färdigheter så jag kommer att vara väldigt kompatibel med arbetsmarknaden.</p>
<p>Jag kommer ifrån Etiopien och har bott i Sverige i ca två år nu. . Efter gymnasiet i Etiopien studerade jag till el-och dataingenjör i fem år vid Addis Ababa University. Därefter arbetade jag som mjukvaruutvecklare på ett företag i sex månader.</p>
<p>Som person är jag öppen , positiv , ambitiös och glad. Jag är noggrann och engagerad när jag arbetar och studerar, samtidigt som jag tycker om att hitta lösningar och trivs med att arbeta i team.</p>
<p>På fritiden gillar jag att vara ute i naturen och promenera med min man och vår lilla son. Jag tycker också om att se på filmer och läser böcker.</p>
<p>Ett av mina mål är att vara en bra mjukvaruutvecklare som löser många problem och vill arbeta inom ett företag som jag kommer att ha en bra påverkar och få mer kompetens genom att arbeta. Jag vill också uppdatera mina kunskaper kontinuerligt med den nuvarande tekniken genom att ta kurs.</p>
<p>Efter att ha haft många erfarenheter vill jag starta mitt eget mjukvaruföretag som kommer att ha ett effektpåverkan i samhället.</p>
<p>Jag hoppas att få presentera mig mer om ni behöver!</p>
    Med vänlig hälsning
<br>
    Ekram Ahmedin