@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h2>Get in touch</h2>
    <p>If you're on this page, I am guessing you've got something to say!</p>
    <p> Drop me a line if you're looking for more information.</p>
    <img src="/images/contact.jpeg" width="300" height="200" />
    <h4><br />Contact options</h4>
    <p>You can drop an Email at - <a href="ekramahmedin4@gmail.com">ekramahmedin4@gmail.com</a></p>
    <p>Feel free to call me at <span> <strong>Mobile - XXX.XXX.XXXX</strong>.</span> Thanks for getting in touch!</p>
</div>


