@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}
<h2>Contact information</h2>
<p>Name:- Siti Ali<br>Email address:- asd3@gmail.com<br>Mobile number:- 07453535353<br>Address:- satagåtan 7, Vänersborg </p>