@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">My Projects in GitHub</h1>
</div>

<div>
    <p style="font-size:20px;">Here are some of my projects that I have made in github</p>
    <h3> <a href="https://github.com/sitiekram"> My GitHub page</a></h3>
    <h4>Project 1 <a href="https://github.com/sitiekram/Hangman.git"> Hangman Game</a></h4>
    <p>
        This is a famous game in which you guess the unknown word.You can guess for the specific letter at a time or can guess the whole word.
        <br>You have 10 guesses to find the word unless you will lose the game.It is very good instrument for developing vocabulary skill.
    </p>
    <h4>Project 2 <a href="https://github.com/sitiekram/Vending-Machine.git"> Vending Machine with Xunit</a></h4>
    <p>
        In this project I have tried to make the vending machine which has similar functions to the known vending machine.It takes requests from user
        <br> as what is supposed to return.It also takes a valid money input and calculates the change and return back the change.
        I have also make a unit testing for it.
    </p>
    <h4>Project 3 <a href="https://github.com/sitiekram/Todo-app.git"> Todo App with Xunit</a></h4>
    <p>
        In this project I have tried to make a todo list application using C# object oriented programming. I have also make a unit testing for it.
    </p>
    <h4>Project 4 <a href="https://github.com/sitiekram/Calculator.git"> Calculator with Xunit</a></h4>
    <p>
        In this project I have tried to do simple calculator that do basic maths operation.The application is also tested with one of the known unit testing method
        ,Xunit.
    </p>

</div>

