
@{
    ViewData["Title"] = "Patient";
}

<h2>Fever Checker</h2>

@if(ViewBag.Message != null)
 {
    <p>@ViewBag.Message</p>
 }
<form asp-controller="Doctor" asp-action="Patient" method="post">
    <label>Temperature in celicus : </label>
    <input type="text" name="name" />
    <input type="number" name="temperature" />
    <input type="submit"  value="Submit" />
</form>
