@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Person>
    <div class="row" style="font-weight:bold">
        <div class="col-1">
            Person ID
        </div>
        <div class="col-3">
            Full Name
        </div>
        <div class="col-2">
            City
        </div>
        <div class="col-2">
            Phone Number
        </div>
        <div class="col-3">
            Email
        </div>
        <div class="col-1">
            Action
        </div>
    </div>
    @foreach (var person in Model)
    {
        <partial name="_PersonPartial" model="person" />
    }
