
@{
    ViewData["Title"] = "Index";
}

<h2>Language</h2>

<ul>
    <li>
        <a class="btn btn-primary" asp-controller="Language" asp-action="Languages">Language</a>
    </li>
    <li>
        <a class="btn btn-primary" asp-controller="Language" asp-action="ListAllLanguagesAndPeople">Languages and People</a>
    </li>
</ul>